<div class="testi">
    <h2 style="text-align: center;">Bienvenue sur mon site !</h2>
    <br>
    <div class="home">
        <div class="sous1">
            <img src="../../../assets/img/home.png" alt="Photo de Laura" draggable="false">
        </div>
        
        <div class="sous2 texte">
            <p>Ouvert depuis peu et toujours à la recherche de nouveauté, L.V Beauty prendra soin de vous ! <br>Diplômée en comptabilité, Laura a fait une reconversion professionnelle en esthétique en 2020, formée par les meilleurs, vous aurez des soins de qualité. <br>Toujours la soif d'apprendre, vous aurez toujours les dernières tendances à la carte. <br><br><i>Une fois la porte passée, vous n'aurez qu'une envie, c'est d'y retourner !</i> </p>
        </div>
    </div>
</div>
