<!------------ NAVBAR--------------->
<nav class="navbar navbar-expand-lg navbar-light" style="height: 100px;">
  <div class="container-fluid" style=" background-color: white;">
    <a class="navbar-brand onglet" routerLink="" style="font-size: xx-large;"><img src="../assets/img/logo.svg" alt="Logo" style="height: 80px;"> {{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-light" id="navbarSupportedContent" style=" background-color: white !important;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active onglet ss" aria-current="page" routerLink="products">Produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active onglet ss"routerLink="care">Soins</a>
        </li>
        <li class="nav-item" *ngIf="checkAdmin()">
          <a class="nav-link active onglet ss" routerLink="users">Utilisateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active onglet ss" routerLink="contact">Contact</a>
        </li>
      </ul>
      <ul class="nav-item dropdown d-flex navbar-nav mb-2 mb-lg-0 dropdown">
        <a *ngIf="!checkAuth()" class="nav-link dropdown-toggle onglet " id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Connexion</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="loginForm">

              <li>
                <div class="form-group" style="text-align: center;">
                  <label for="username" class="co">Pseudo</label>
                  <div style="width: 80%; margin: auto;">
                  <input type="text" class="form-control" id="usernameLogin" placeholder="Pseudo" [formControl]="usernameLogin">
                  </div>
                </div>
             </li>
              <li style="margin-top: 10px;">
                <div class="form-group" style="text-align: center;">
                  <label for="passwordLogin" class="co">Mot de passe</label>
                  <div style="width: 80%; margin: auto;">
                    <input type="password" class="form-control" id="passwordLogin" placeholder="Mot de passe" [formControl]="passwordLogin">
                  </div>
                </div>
              </li>

              <div  style="text-align: center; margin-top: 20px;">
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Se connecter</button>
              </div>

              <li><hr class="dropdown-divider"></li>

              <li style="text-align: center;"><a class="dropdown-item" routerLink='create-user'>Nouveau ici ? Inscris-toi !</a></li>
              <li (click)=motDePasseOubli() style="cursor: pointer; text-align: center;"><a class="dropdown-item">Mot de passe oublié ?</a></li>
            </form>
          </ul>
          <li class="nav-item" *ngIf="checkAuth()">
            <a class="nav-link onglet ss" routerLink="profil">Profil</a>
          </li>
          <li class="nav-item" *ngIf="checkAuth()">
            <a class="nav-link onglet" (click)="logout()"><img src="../assets/img/deco.svg" style="height: 20px; cursor: pointer;" alt="Déconnexion"></a>
          </li>
      </ul>
      
    </div>
  </div>
</nav>



<!------------ CONTENT-------------->
<div class='container-fluid center_div' style="padding-top: 30px; padding-bottom: 50px; background-color: #F1E0ED;border-radius: 5%;">
    <router-outlet></router-outlet>
</div>


<!------------ FOOTER -------------->
<footer class="text-center text-lg-start bg-light text-muted text-black">
  <!-- <section class="" style="padding-top: 1px;">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-clock me-3"></i>Horaires
          </h6>
          <pre><i>Lun : Fermé</i>       <i>Mar : 9h - 18h</i></pre>
          <pre><i>Mer : 9h - 18h</i>    <i>Jeu : 9h - 18h</i></pre>
          <pre><i>Ven : 9h - 18h</i>    <i>Sam : 9h - 20h</i></pre>
          <pre>         <i>Dim : 10h - 13h</i></pre>
          
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-id-card me-3"></i>Contact</h6>
          <p><i class="fas fa-home me-3"></i>16 Rue du Curé, Antoing 7640</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            laura_viaene@hotmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 32 472 08 13 09</p>
          <p>
            <i class="fas fa-comments me-3"></i>
            <a routerLink='contact' style="color: #6c757d;">Formulaire de contact</a>
          </p>
          <p>
            <a href="https://www.facebook.com/lauraviaene21" class="me-4 text-reset" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/the_travel21/?hl=fr" class="me-4 text-reset" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2534.286824501022!2d3.4470078514737352!3d50.56603138680999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2e13dff01d1b9%3A0xb1a7b9a8ba00ac67!2sRue%20du%20Cur%C3%A9%2016%2C%207640%20Antoing!5e0!3m2!1sfr!2sbe!4v1623852430814!5m2!1sfr!2sbe" width="261" height="306" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Joshua Mollet 
    <a href="https://github.com/joshmollet" class="me-2 text-reset" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/joshua-mollet-8a0955213/" class="me-4 text-reset" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->