<div class="testi">
    <h2 style="text-align: center;">Nouveau soin</h2>
    <br>
    <div class="f">
        <div class="droite">
            <form [formGroup]="careForm" (ngSubmit)="onSubmitForm()">
        
            <div class="form-group" style="display: flex; margin-bottom: 15px;">
                <label for="name" style="flex: 1;">Nom<span style="color: red;" *ngIf="nameCtl.errors?.required">*</span></label>
                <input type="text" id="name" class="form-control" formControlName="name" style="flex: 7;">
                
            </div>
    
            <div class="form-group" style="display: flex; margin-bottom: 15px;">
                <label for="duration" style="flex: 1;">Durée<span style="color: red;" *ngIf="durationCtl.errors?.required">*</span></label>
                <input type="time" id="duration" class="form-control" formControlName="duration" style="flex: 7;">
            </div>
        
            <div class="form-group" style="display: flex; margin-bottom: 15px;">
                <label for="price" style="flex: 1;">Prix<span style="color: red;" *ngIf="priceCtl.errors?.required">*</span></label>
                <input type="number" id="price" class="form-control" formControlName="price" style="flex: 7;">
            </div>
        
            <div class="form-group" style="display: flex; margin-bottom: 15px;">
                <label for="description" style="flex: 1;">Description</label>
                <input type="text" id="description" class="form-control" formControlName="description" style="flex: 7;">
            </div>
            <br>
            <div style="text-align: center;">
                <button type="submit" class="btn bt" style="color: black; background-color: white;" [disabled]="careForm.invalid">Nouveau soin</button>
            </div>
        </form>
        </div>
    </div>
</div>